<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="{{ url_for('static', filename='lear.jpg')}}" class="" alt="" style="margin-right:25px">
    <a class="navbar-brand" href="/">
      <h1>Graficas de CPK Terminales</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
<div class="container-fluid pt-2" >
  
  <main class="col-sm col-xl-3 bd-content" role="main">
    <table class="table table-striped table-bordered bg-black table-sm" height=400>
      <col style="width:70%">
      <col style="width:30%">
      <form method = "post">
        {{form.hidden_tag()}}
        <thead class="text-md-center bg-dark text-white" >
          <tr>
              <th>TERMINAL</th>
              <th>CPK</th>                   
          </tr>
          <tbody>
            {% for item in range(0,tam) %}
            <tr>
              <td><input type="radio" name= 'terminal' value="{{tables.loc[item]['terminal']}}"> {{tables.loc[item]['terminal']}}</td>
              <td>{{tables.loc[item]['cpk']}} </td>
            </tr>
            {% endfor %}
          </tbody>
          {{form.Submit()}}
      </form>
    </table>
  </main>
</body>
</html>